<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<!-- 脚部信息 -->
<footer>
    <ul class="list-inline text-center bottom">
        <li class="list-inline-item text-capitalize">Copy Right</li>
        <li class="list-inline-item">©2019</li>
        <li class="list-inline-item">www.jarvis.com</li>
        <li class="list-inline-item text-capitalize">All Rights Reserved.</li>
    </ul>
</footer>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
