<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jarvis.registrationsystem.dao.RefundRecordMapper">

    <!--基本表-->
    <sql id="TABLE">
        refund_record
    </sql>

    <sql id="FIELDS">
        cancel_order_id,finish
    </sql>

    <sql id="ALL_FIELDS">
        id,cancel_order_id as cancelOrderId,finish
    </sql>

    <!--添加-->
    <insert id="addRefundRecord" parameterType="com.jarvis.registrationsystem.pojo.RefundRecord">
        INSERT INTO
        <include refid="TABLE"/>
        <trim prefix="(" suffix=")">
            <include refid="FIELDS"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")">
            #{cancelOrderId},#{finish}
        </trim>
    </insert>

    <!--删除-->
    <delete id="deleteRefundRecord" parameterType="INTEGER">
        DELETE FROM
        <include refid="TABLE"/>
        WHERE
        id=#{id}
    </delete>

    <!--更新-->
    <update id="updateRefundRecord" parameterType="com.jarvis.registrationsystem.pojo.RefundRecord">
        UPDATE
        <include refid="TABLE"/>
        <set>
            <if test="cancelOrderId!=null">
                cancel_order_id=#{cancelOrderId,jdbcType=INTEGER}
            </if>
            <if test="finish!=null">
                finish=#{finish,jdbcType=VARCHAR}
            </if>

        </set>
    </update>

    <!--查询列表-->
    <select id="getRefundRecords" resultType="com.jarvis.registrationsystem.pojo.RefundRecord">
        SELECT
        <include refid="ALL_FIELDS"/>
        FROM <include refid="TABLE"/>
    </select>

    <select id="getRefundRecordList" resultType="com.jarvis.registrationsystem.pojo.RefundRecord">
        SELECT
        <include refid="ALL_FIELDS"/>
        FROM <include refid="TABLE"/>
        WHERE
        cancel_order_id=#{cancelOrderId}
    </select>

</mapper>