<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jarvis.registrationsystem.dao.DoctorScheduleDao">

    <!--基本表-->
    <sql id="TABLE">
        doctor_schedule
    </sql>

    <sql id="FIELDS">
        doctor_id as doctorId,building,floor,region,room,schedule_date as scheduleDate,detail_time as detailTime,total_amount as totalAmount,remain_amount as remainAmount
    </sql>

    <sql id="ALL_FIELDS">
        id,doctor_id as doctorId,building,floor,region,room,schedule_date as scheduleDate,detail_time as detailTime,total_amount as totalAmount,remain_amount as remainAmount
    </sql>

    <!--添加-->
    <insert id="addDoctorSchedule" parameterType="com.jarvis.registrationsystem.pojo.DoctorSchedule">
        INSERT INTO
        <include refid="TABLE"/>
        <trim prefix="(" suffix=")">
            <include refid="FIELDS"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")">
            #{doctorId},#{building},#{floor},#{region},#{room},#{scheduleDate},#{detailTime},#{totalAmount},#{remainAmount}
        </trim>
    </insert>

    <!--删除-->
    <delete id="deleteDoctorSchedule" parameterType="com.jarvis.registrationsystem.pojo.DoctorSchedule">
        DELETE FROM
        <include refid="TABLE"/>
        WHERE
        id=#{id}
    </delete>

    <!--更新-->
    <update id="updateDoctorSchedule" parameterType="com.jarvis.registrationsystem.pojo.DoctorSchedule">
        UPDATE
        <include refid="TABLE"/>
        <set>
            <if test="doctorId!=null">
                doctor_id=#{doctorId,jdbcType=VARCHAR}
            </if>
            <if test="building!=null">
                building=#{building,jdbcType=VARCHAR}
            </if>
            <if test="floor!=null">
                floor=#{floor,jdbcType=VARCHAR}
            </if>
            <if test="region!=null">
                region=#{region,jdbcType=VARCHAR}
            </if>
            <if test="room!=null">
                room=#{room,jdbcType=VARCHAR}
            </if>
            <if test="scheduleDate!=null">
                schedule_date=#{scheduleDate,jdbcType=VARCHAR}
            </if>
            <if test="detailTime!=null">
                detail_time=#{detailTime,jdbcType=VARCHAR}
            </if>
            <if test="totalAmount!=null">
                total_amount=#{totalAmount,jdbcType=VARCHAR}
            </if>
            <if test="remainAmount!=null">
                remain_amount=#{remainAmount,jdbcType=VARCHAR}
            </if>
        </set>
    </update>

    <!--查询列表-->
    <select id="getDoctorSchedules" resultType="com.jarvis.registrationsystem.pojo.DoctorSchedule">
        SELECT
        <include refid="ALL_FIELDS"/>
        FROM <include refid="TABLE"/>
    </select>

</mapper>