<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jarvis.registrationsystem.dao.OrderRecordDao">

    <!--基本表-->
    <sql id="TABLE">
        order_record
    </sql>

    <sql id="FIELDS">
        serial_number,patient_id,doctor_id,schedule_id,ke_mu_name,ke_shi_name,price
    </sql>

    <sql id="ALL_FIELDS">
        id,serial_number as serialNumber,patient_id as patientId,doctor_id as doctorId,schedule_id as scheduleId,ke_mu_name as keMuName,ke_shi_name as keShiName,price
    </sql>

    <!--添加-->
    <insert id="addOrderRecord" parameterType="com.jarvis.registrationsystem.pojo.OrderRecord">
        INSERT INTO
        <include refid="TABLE"/>
        <trim prefix="(" suffix=")">
            <include refid="FIELDS"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")">
            #{serialNumber},#{patientId},#{doctorId},#{scheduleId},#{keMuName},#{keShiName},#{price}
        </trim>
    </insert>

    <!--删除-->
    <delete id="deleteOrderRecord" parameterType="com.jarvis.registrationsystem.pojo.OrderRecord">
        DELETE FROM
        <include refid="TABLE"/>
        WHERE
        id=#{id}
    </delete>

    <!--更新-->
    <update id="updateOrderRecord" parameterType="com.jarvis.registrationsystem.pojo.OrderRecord">
        UPDATE
        <include refid="TABLE"/>
        <set>
            <if test="serialNumber!=null">
                serial_number=#{serialNumber,jdbcType=VARCHAR}
            </if>
            <if test="patientId!=null">
                patient_id=#{patientId,jdbcType=INTEGER}
            </if>
            <if test="doctorId!=null">
                doctor_id=#{doctorId,jdbcType=INTEGER}
            </if>
            <if test="scheduleId!=null">
                schedule_id=#{scheduleId,jdbcType=INTEGER}
            </if>
            <if test="keMuName!=null">
                ke_mu_name=#{keMuName,jdbcType=VARCHAR}
            </if>
            <if test="keShiName!=null">
                ke_shi_name=#{keShiName,jdbcType=VARCHAR}
            </if>
            <if test="price!=null">
                price=#{price,jdbcType=VARCHAR}
            </if>
        </set>
    </update>

    <!--查询列表-->
    <select id="getOrderRecords" resultType="com.jarvis.registrationsystem.pojo.OrderRecord">
        SELECT
        <include refid="ALL_FIELDS"/>
        FROM <include refid="TABLE"/>
    </select>

    <select id="getOrderRecordList" resultType="com.jarvis.registrationsystem.pojo.OrderRecord">
        SELECT
        <include refid="ALL_FIELDS"/>
        FROM <include refid="TABLE"/>
        WHERE
        schedule_id=#{scheduleId} OR ke_mu=#{keMu} OR ke_shi=#{keShi}
    </select>

</mapper>