<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jarvis.registrationsystem.dao.PatientLoginLogDao">

    <!--基本表-->
    <sql id="TABLE">
        patient_login_log
    </sql>

    <sql id="FIELDS">
        patient_id ,login_time
    </sql>

    <sql id="ALL_FIELDS">
        id,patient_id as patientId,login_time as loginTime
    </sql>

    <!--添加-->
    <insert id="addPatientLoginLog" parameterType="com.jarvis.registrationsystem.pojo.PatientLoginLog">
        INSERT INTO
        <include refid="TABLE"/>
        <trim prefix="(" suffix=")">
            <include refid="FIELDS"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")">
            #{patientId},#{loginTime}
        </trim>
    </insert>

    <!--删除-->
    <delete id="deletePatientLoginLog" parameterType="com.jarvis.registrationsystem.pojo.PatientLoginLog">
        DELETE FROM
        <include refid="TABLE"/>
        WHERE
        id=#{id}
    </delete>

    <!--更新-->
    <update id="updatePatientLoginLog" parameterType="com.jarvis.registrationsystem.pojo.PatientLoginLog">
        UPDATE
        <include refid="TABLE"/>
        <set>
            <if test="patientId!=null">
                patient_id=#{patientId,jdbcType=VARCHAR}
            </if>
            <if test="loginTime!=null">
                login_time=#{loginTime,jdbcType=VARCHAR}
            </if>
        </set>
    </update>

    <!--查询列表-->
    <select id="getPatientLoginLogs" resultType="com.jarvis.registrationsystem.pojo.PatientLoginLog">
        SELECT
        <include refid="ALL_FIELDS"/>
        FROM <include refid="TABLE"/>
    </select>

</mapper>